<?xml version="1.0"?>
<model>
  <name>Tree_4</name>
  <version>1.0</version>
  <sdf version='1.6'>Tree_4.sdf</sdf> <!-- This is decides where the model is that is loaded -->

  <author>
   <name>smartphone-zine.com</name>
   <email>smartphone-zine.com</email>
  </author>

  <description>
    A Tree
  </description>
</model>
